body {
    background-color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

a {
    color: black;
}

footer {
	padding: 5px;
    background-color: #f1c6c6cc;
    color: black;
    text-align: center;
}

.navbar {
    background-color: white;
    height: 100px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    color: black;
}

.refresh-button {
    background-color: rgba(226, 50, 50, 0.8);
    color: white;
    font-size: 15px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
    width: 5.5%;
    text-align: center;
}

.navbar-toggler {
    border: none;
}

.nav-link {
    color: #666777;
    position: relative;
    font-weight: 500;
}

.nav-link:hover, nav-link.active{
    color: #000;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: rgba(226, 50, 50, 0.8);
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.nav-link:hover::before, nav-link:active::before {
    width: 100%;
    visibility: visible;
}

.students {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	text-align: center;
	flex-direction: row;
}

.profile {
	width: 80%;
	padding-top: 30px;
}

.flip-card {
  	background-color: transparent;
  	width: 400px;
  	height: 470px;
  	perspective: 1000px;
  	margin: 5px 0;
}

.flip-card-inner {
  	position: relative;
  	width: 100%;
  	height: 100%;
  	text-align: center;
  	transition: transform 0.8s;
  	transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  	transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	backface-visibility: hidden;
  	border-radius: 25px;
}

.flip-card-front {
  	background-color: #72b4e5cc;
  	color: black;
    border: solid;
    border-width: 10px;
    border-color: #f4b245;
}

.flip-card-back {
  	background-color: rgba(114, 180, 229, 0.8);
  	transform: rotateY(180deg);
  	padding-top: 20px;
  	border-radius: 25px;
    border: solid;
    border-width: 10px;
    border-color: #f4b245;
}